VITE_PUBLIC_BASE_PATH=/
VITE_PLATFORM_API_BASE_URL=https://api.tree-services-platform.com
VITE_PLATFORM_API_PREFIX=v1
VITE_PLATFORM_TENANT_SLUG=hectors-tree-service
VITE_TURNSTILE_SITE_KEY=0x4AAAAAADK1HOISqPxLO5Ps
0x4AAAAAADK1HJMZW8C1ISpCFOfQ4hVdnRw
